{% assign repo = include.repo %}
{% assign repo_url = repo.repository | split: '/' %}
{% if site.data.repositories.github_users contains repo_url.first %}
  {% assign show_owner = false %}
{% else %}
  {% assign show_owner = true %}
{% endif %}

<div class="repo p-2">
  {% if repo %}
    <a class="repo-card" href="{{ repo.html_url }}">
      <div class="repo-card__topline">
        <span class="repo-card__eyebrow">Repository</span>
        {% if repo.language %}
          <span class="repo-card__pill">{{ repo.language }}</span>
        {% endif %}
      </div>

      <h3 class="repo-card__title">
        {% if show_owner %}
          {{ repo.full_name }}
        {% else %}
          {{ repo.name }}
        {% endif %}
      </h3>

      {% if repo.description %}
        <p class="repo-card__description">{{ repo.description }}</p>
      {% endif %}

      <div class="repo-card__stats">
        <span><strong>{{ repo.stars }}</strong> stars</span>
        <span><strong>{{ repo.forks }}</strong> forks</span>
        <span><strong>{{ repo.issues }}</strong> issues</span>
      </div>
    </a>
  {% else %}
    <a class="repo-card" href="https://github.com/{{ repo.repository }}">
      <div class="repo-card__topline">
        <span class="repo-card__eyebrow">Repository</span>
      </div>
      <h3 class="repo-card__title">{{ repo.repository }}</h3>
    </a>
  {% endif %}
</div>
