{% assign user = include.github_user %}

<div class="repo p-2">
  {% if user %}
    <a class="repo-card repo-card-user" href="{{ user.html_url }}">
      <div class="repo-card__topline">
        <span class="repo-card__eyebrow">GitHub Profile</span>
        <span class="repo-card__pill">@{{ user.username }}</span>
      </div>

      <div class="repo-card__profile">
        <img class="repo-card__avatar" src="{{ user.avatar_url }}" alt="{{ user.name | default: user.username }}">
        <div>
          <h3 class="repo-card__title">{{ user.name | default: user.username }}</h3>
          {% if user.bio %}
            <p class="repo-card__description">{{ user.bio }}</p>
          {% endif %}
          {% if user.location %}
            <p class="repo-card__subtle">{{ user.location }}</p>
          {% endif %}
        </div>
      </div>

      <div class="repo-card__stats">
        <span><strong>{{ user.public_repos }}</strong> repos</span>
        <span><strong>{{ user.stars }}</strong> stars</span>
        <span><strong>{{ user.followers }}</strong> followers</span>
        <span><strong>{{ user.following }}</strong> following</span>
      </div>
    </a>
  {% else %}
    <a class="repo-card repo-card-user" href="https://github.com/{{ user.username }}">
      <div class="repo-card__topline">
        <span class="repo-card__eyebrow">GitHub Profile</span>
        <span class="repo-card__pill">@{{ user.username }}</span>
      </div>
      <h3 class="repo-card__title">{{ user.username }}</h3>
    </a>
  {% endif %}
</div>
