{% assign user = site.data['github_metadata'].users[include.username] %}

{% if user %}
  <div class="repo repo-wide p-2">
    <a class="repo-card repo-card-summary" href="{{ user.html_url }}">
      <div class="repo-card__topline">
        <span class="repo-card__eyebrow">GitHub Snapshot</span>
        <span class="repo-card__pill">{{ user.public_repos }} public repos</span>
      </div>

      {% if user.achievements %}
        <div class="repo-card__badges">
          {% for achievement in user.achievements %}
            <span>{{ achievement }}</span>
          {% endfor %}
        </div>
      {% endif %}

      {% if user.top_languages %}
        <div class="repo-card__languages">
          {% for language in user.top_languages %}
            <span>{{ language }}</span>
          {% endfor %}
        </div>
      {% endif %}

      <div class="repo-card__stats">
        <span><strong>{{ user.stars }}</strong> stars across public repos</span>
        <span><strong>{{ user.followers }}</strong> followers</span>
        <span><strong>{{ user.following }}</strong> following</span>
      </div>
    </a>
  </div>
{% endif %}
